<div class="home-container">
  <div class="banner-section">
    <div class="banner-content">
      <h1 class="banner-title">Disfruta de una estancia maravillosa</h1>
      <p class="banner-description">
        Elige tu habitación ideal en nuestro hotel con un ambiente acogedor y servicios incomparables.
      </p>
      <div class="banner-buttons">
        <p-button label="Contáctanos" routerLink="/servicios" [outlined]="true" styleClass="contact-button"></p-button>
        <p-button label="Ver Habitaciones" routerLink="/habitaciones" styleClass="rooms-button"></p-button>
      </div>
    </div>
  </div>
</div>
